:root {
  --White:#FFFFFF;
  --Black:#000000;
  --Orange: #C64304;
  --Gray: #F5F5F5;
  --LightOrange: #FBE2A9;
  --Erro: #D32F2F;

  --default-padding-left: 60px;
  --default-padding-right: 60px;

  /*Media Queries*/
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1024px;

  --page-width: 1903px;
}
