.navbar {
  width: 100%;
  background-color: #fff;
  /* padding: 1rem 5%; */
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  height: 40px;
}

.desktopLinks {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.desktopLinks a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.activeLink {
  color: var(--Green) !important; 
}

.navBtn {
  background-color: var(--Green);
  color: var(--White) !important;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  transition: opacity 0.3s;
}

/* --- Mobile Logic --- */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #333;
}

.mobileMenu {
  display: none;
}

@media (max-width: 768px) {
  .desktopLinks {
    display: none; 
  }

  .hamburger {
    display: block; 
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    /* width: 100%; */
    background: white;
    padding: 2rem;
    gap: 1.5rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transform: translateY(-150%);
    transition: transform 0.4s ease-in-out;
  }

  .mobileMenu.show {
    transform: translateY(0);
  }

  .mobileNavBtn {
    background-color: var(--Green);
    color: var(--White);
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    text-decoration: none;
  }
}