.container {
  font-family: sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  text-align: center;
}

.heroText h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.shade {
  color: var(--Green);
}

.heroText p {
  margin-bottom: 1.5rem;
}

.heroCTA p {
  display: none;
}

.heroImage {
  position: relative;
}

.heroImage img {
  width: 16rem;
  height: 19.8rem;
  margin-top: 1.5rem;
}

.Green__ball {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  position: absolute;
  bottom: 40px;
  right: -10px;
  background-color: var(--Green);
}

.leftGreen__ball {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  position: absolute;
  bottom: 30px;
  left: 10px;
  background-color: var(--LightGreen);
}

.rightGreen__ball {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  position: absolute;
  top: 90px;
  left: 100px;
  background-color: var(--Green);
}

.section {
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--Gray);
}

.subtitles{
  font-size: 24px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.card {
  background: var(--White);
  padding: 1.5rem;
  border-radius: 8px;
}

.impact {
  background-color: var(--Green);
  color: var(--White);
  padding: 2rem 1rem;
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.stats h3 {
  font-size: 1.8rem;
}

.description {
  margin: 1rem 0 2rem;
}

.ourProfile {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /* border: 2px solid red; */
}

.values {
  padding: 2rem 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--LightGreen);
  position: relative;
  top: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.valuesIcons {
  font-size: 2.5rem;
}

.decor {
  font-size: 0.8rem;
  color: var(--Black);
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.grid {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  gap: 1rem;
  background-color: var(--Green);
}

.vision,
.mission {
  flex: 1;
  padding: 2rem;
  color: var(--White);
}

.vision {
  border-bottom: 2px solid white;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    gap: 10px;
    text-align: left;
    align-items: center;
  }

  .heroText {
    width: 60%;
  }

  .heroText h1 {
    font-size: 3rem;
    text-align: center;
  }

  .heroText p {
    font-size: 1.2rem;
    text-align: center;
  }

  .heroImage {
    width: 40%;
  }

  .heroImage img {
    width: 30rem;
    height: 35.6rem;
    top: 130px;
    margin-top: 1.5rem;
  }

  .Green__ball {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    position: absolute;
    top: 386px;
    right: 6px;
    background-color: var(--Green);
  }

  .heroCTA {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .heroCTA p {
    display: flex;
    font-weight: bolder;
  }

  .subtitles{
  font-size: 40px;
}

  .cards {
    flex-direction: row;
  }

  .card {
    flex: 1;
  }

  .stats {
    flex-direction: row;
    justify-content: space-around;
  }

  .grid {
    flex-direction: row;
  }

  

  .values {
    max-width: 50%;
    max-height: 20%;
    top: 5px;
  }

  .vision {
  border-right: 2px solid white;
}

}
