.card {
  width: 250px;
  height: 250px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: var(--White);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600; 
  color: var(--Black);

}

.iconWrapper {
  background-color:var(--White);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  width: 100px;
  height:95px;
  border-radius: 100%;
  background-color: var(--Green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.3;
  padding: 0 10px;
  color: var(--Black);
}

